.table-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: $t-header-color;
	font-weight: 600;
	padding-right: 300px;
    /* border: $t-border-color; */
}

.table-body {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: $t-body-color;
    /* border: $t-border-color; */
}

button {
    display: inline-block;
    margin-left: 10px;
	padding: 0.5rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	vertical-align: middle;
	white-space: nowrap;
	background-color: $color-primary;
	border: 1px solid transparent;
    border-radius: 25px;
	/* max-height: 48px; */
    width: 5rem;
	cursor: pointer;

	&:focus,
	&:hover {
		background-color: $button-color-hover;
	}

	&:focus {
		outline: 0;
	}

	&:disabled {
		background-color: $button-disabled;
		/* display: none; */
	}
}